@import url('https://fonts.googleapis.com/css?family=Alegreya|Ubuntu|Satisfy&display=swap');

:root {
    --pageBG: hsla(0, 0%, 100%, 89%);
    --pageTxt: hsla(210, 89%, 0%, 100%);

    --main-bg: hsla(0, 0%, 97%, 100%);
    --main-clr: hsla(210, 0%, 7%, 89%);

    --clr: var(--main-clr);
    --bg: var(--main-bg);

    --gold-line: #ed7a;
    --gray-line: #aaaa;

}
@media (prefers-color-scheme: dark) {
    :root{
        --pageBG: hsla(210, 89%, 0%, 100%);
        --pageTxt: hsla(0, 0%, 89%, 100%);

        --main-bg: hsla(210, 0%, 5%, 100%);
        --main-clr: hsla(0, 0%, 89%, 100%);

        --clr: var(--main-clr);
        --bg: var(--main-bg);
    }
}

body {
    background-color: var(--main-bg);
    color: var(--main-clr);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

::-webkit-scrollbar { height: 0px; width: 0px; }
::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(200, 0, 0, 0.0); }
::-webkit-scrollbar-thumb { background-color: rgba(0, 180, 180, 0.0); border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background: rgba(255, 255, 255, 0.7); }

a:link { color: var(--main-clr); text-decoration: none;}
a:hover { text-decoration: underline; }
a:visited { color: var(--main-clr); }



header {
    height: 76px;
    /* height: 50px; */
    width: 80vw;
    margin: 12px auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    box-shadow: 0px 4px 0px -2px var(--main-clr);
}
.t1 {
    height: max-content;
    width: max-content;
    margin: 4px;
    font-size: clamp(32px, 8vw, 54px);
    font-weight: bold;
    align-self: center;
}
.navx {
    height: auto;
    width: max-content;
    margin: 12px auto;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0px;
}

.navtog_x { 
    display: none; 
    cursor: pointer;
    position: relative;
}
.navbtn_x {
    width: 100px;
    margin: 0px 2px;
    padding: 4px 0px;
    text-align: center;
    box-shadow: inset 0px -1px 0px 0px var(--main-clr);
    cursor: pointer;
    background-color: #fff0;
    transition: background-color 400ms ease-in-out;
}
.navbtn_x:hover {
    background-color: #fff4;
    transition: background-color 100ms ease-in-out;
}

.navtog_x:checked ~ .navbtn_x {
    width: 100px;
}

@media (max-width: 500px) {
    .navx {
        margin: 4px;
        display: grid;
        grid-auto-flow: row;
        grid-gap: 0px;

        position: absolute;
        top: 0px; right: 0px;

        height: 100vh;
        height: calc(100vh - 100px);
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        justify-content: flex-start;
        padding: 100px 0 0 0;
        flex-direction: column;
        z-index: 20;
    }
    .navtog_x { display: none; }
    
    .navtog_x:not(:checked) ~ .navbtn_x {
        display: none;
    }

    .navtog_label { 
        position: relative;
        position: absolute;
        top: 4px; right: 4px;
        height: 40px;
        width: 40px;
        display: flex; 
        align-items: center;
        justify-content: center;

        color: transparent; 
        box-shadow: 0 0 0 1px #000a;
        border-radius: 2px;
        margin: 2px;
        user-select: none;
    }
    .icon-menu-tog {
        position: relative;
        height: 2px;
        width: 20px;
        display: flex; 
        background-color: var(--clr);
        border-radius: 2px;
        border-radius: 0 0 2px 2px / 2px 2px 0 0;
        user-select: none;
        transition: 
        background-color 400ms ease-in-out,
        transform 400ms ease-in-out;
    }
    .navtog_x:checked ~ .navtog_label .icon-menu-tog {
        background-color: #28f0;
    }

    .icon-menu-tog::before { --translateBy: -4px; }
    .icon-menu-tog::after { --translateBy: 4px; }
    .icon-menu-tog::before,
    .icon-menu-tog::after {
        position: absolute;
        content: ''; 
        top: 0; left: 0; right: 0; bottom: 0;
        height: 2px; width: 20px;

        color: var(--main-clr);
        background-color: var(--clr);
        border-radius: 0 0 2px 2px / 2px 2px 0 0;
        transform: rotate(0deg) translateY(var(--translateBy));
        transition: 
            background-color 400ms ease-in-out,
            transform 400ms ease-in-out;
        z-index: 2;
    }
    .navtog_x:checked ~ .navtog_label .icon-menu-tog::before,
    .navtog_x:checked ~ .navtog_label .icon-menu-tog::after { background-color: var(--clr); }
    .navtog_x:checked ~ .navtog_label .icon-menu-tog::before { transform: rotate(45deg); }
    .navtog_x:checked ~ .navtog_label .icon-menu-tog::after { transform: rotate(-45deg); }

    .navtog_x ~ .navbtn_x {
        transform: scaleY(0);
        transform-origin: 50% 0%;
        height: 0px;
        padding: 0px;
        opacity: 0;
        transition: 
            transform 400ms ease-in-out,
            height 400ms ease-in-out,
            padding 400ms ease-in-out,
            font-size 400ms ease-in-out,
            opacity 400ms ease-in-out,
            display 400ms ease-in-out 1000ms;
    }
    .navtog_x:checked ~ .navbtn_x {
        transform: scale(1);
        transform-origin: 50% 0%;
        height: 18px;
        padding: 4px 0px;
        font-size: 16px;
        opacity: 1;
        transition: 
            transform 400ms ease-in-out,
            height 400ms ease-in-out,
            padding 400ms ease-in-out,
            font-size 400ms ease-in-out,
            opacity 400ms ease-in-out;
    }
}



.resume{
    position: relative;
    top: 0px;
    height: max(75vh, auto);
    width: 100vw;
    width: min(950px, 100vw);
    margin: auto;
    overflow: scroll;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 8px;
}
.section {
    margin: 0px 8px;
    padding: 4px;
    box-shadow: inset 0px -4px 0px -2px var(--main-clr);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}
.section:last-of-type {
    box-shadow: 0 0 0 0 #0000;
}
.section-title {
    grid-column: 1 / 4;
    font-size: 20px;
    font-weight: bold;
}
.section-part {
    box-shadow: 8px 0px 0px -7px var(--gray-line);
}
.section-part:last-of-type {
    box-shadow: 0 0 0 0 #0000;
}
.section-title+.section-part:last-child{
    grid-column: 1 / 4;
}
.t2 {
    text-decoration: underline;
}
.sub2 {
    font-style: italic;
}
.cols12 {
    grid-column: 1 / 3;
}
@media (max-width: 500px) {
    .section {
        display: flex;
        flex-direction: column;
        box-shadow: inset 0px -4px 0px -2px var(--main-clr);
    }
    .section-part { box-shadow: 0px 3px 0px -2px var(--gray-line); }
    .section-part:last-of-type { box-shadow: 0 0 0 0 #0000; }
}



/* End of Page */
.btmspace{
    height: 89px;
    width: 100%;
    user-select: none;
}
.name-end{
    position: fixed;
    bottom: 5px;
    right: 12px;
    color: hsla(210, 89%, 29%, 5%);
    font-size: 24pt;
    font-family: 'Satisfy', cursive;
    user-select: none;
    transition: color .5s ease-out;
}
.name-end:hover{
    position: fixed;
    bottom: 5px;
    right: 12px;
    color: hsla(210, 89%, 29%, 50%);
    font-size: 24pt;
    font-family: 'Satisfy', cursive;
    user-select: none;
    transition: color 1s ease-out 2s;
}
.hidden{
    display: none;
    user-select: none;
}